body {
  color: var(--c0);
  background-color: var(--bg0);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  margin: 0rem 0rem;
}

/* header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 1rem;
} */

/* .center_line {
  border-
} */

a {
  color: #00e;
  text-decoration: none;
}

a.top_menu {
  color: var(--c2);
  text-decoration: none;
}

li.top_menu {
  display: inline;
  /* border: solid 1px black; */
  margin: 0 15px 0 15px;
}

ul.top_menu {
  padding: 0;
  margin: 0 10px;
}

div.top_menu {
  margin: 15px 0 0 0;
}

.test {
  color: #a182db;
}

.right_align {
  text-align: right;
}

.center_align {
  text-align: center;
}



