.menu {
    /* width: 50vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* gap: 8vw; */

    flex-wrap: wrap;

    text-transform: uppercase;

}

.menu_items {
    font-size: calc( (4vw + 5vh) * 0.1 + 1rem );
}

/* .menu_font {
    font-size: larger;
} */

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 590px) {
    .menu {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1vh 5vw;
        width: 50vw;
    }
}