.menu {
    /* width: 50vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    /* gap: 8vw; */

    font-size: larger;
    text-transform: uppercase;

}

.menu_items {
    font-size: calc( (4vw + 5vh) * 0.1 + 1rem );
}

/* .menu_font {
    font-size: larger;
} */

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 590px) {
    .menu {
        flex-direction: row;
        gap: 8vw;
    }
}