{{ define "main" }}

  {{ $title_words := split .Title " " }}
  {{ $subtitle_words := split .Params.subtitle " " }}

  <div class="flex_containter_name">

    <div class="name_group_div">
      
      <div class="name_div">
        <h1 class="home">
        {{ range $title_words }}
          {{ . }} <br>
        {{ end }}
        </h1>
      </div>

      <div class="name_div">
        <h2 class="home">
          {{ .Params.subtitle }}
        </h2>
      </div>
      
    </div>

  </div>

  <!-- {{ .Content }} -->

{{ end }}
